@model DrivingLicence.Data.Consequence

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Consequence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubmitedDate" class="control-label"></label>
                <input asp-for="SubmitedDate" class="form-control" />
                <span asp-validation-for="SubmitedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamId" class="control-label"></label>
                <select asp-for="ExamId" class ="form-control" asp-items="ViewBag.ExamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CorrectCount" class="control-label"></label>
                <input asp-for="CorrectCount" class="form-control" />
                <span asp-validation-for="CorrectCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WrongCount" class="control-label"></label>
                <input asp-for="WrongCount" class="form-control" />
                <span asp-validation-for="WrongCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
