@model DrivingLicence.Models.Login
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card p-4">
                        <div class="card-header text-center text-uppercase h4 font-weight-light">
                            Đăng nhập
                        </div>

                        <form action="/users/login" method="post">
                            <div class="card-body py-5">
                                <div class="form-group">
                                    <label class="form-control-label">Email</label>
                                    <input type="email" class="form-control" asp-for="Email">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Mật khẩu</label>
                                    <input type="password" class="form-control" asp-for="Password">
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-5">Đăng nhập</button>
                                    </div>
                                    <div class="col-6">
                                        <a href="/users/register" class="btn btn-link">Đăng ký</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>
        @if (!string.IsNullOrEmpty(ViewBag.Message)) {
            @Html.Raw(ViewBag.Message)
        }
    </script>
</body>
</html>
